<h1> Create a new article</h1>
<form method="post" action="/articles">
    <h2>Title: <input id="text" type="text" name="title"> </h2>
    <h4>Content: <input id="content" type="text" name="content"></h4>
    <input type="submit" id="submit">
</form>