<h1>New Article</h1>
<form method="POST" action='/articles'>
    <label>Title</label><input type='text' name='title'><br>
    <label>Content</label><input type='text' name='content'><br>
    <input type="submit" id="Submit">
</form>